* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px solid black;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

header {
  flex: 1;
  background-color: #480063;
}

ul {
  flex: 1;
  width: 100%;
  display: flex;
  gap: .5rem;
}

li {
  background-color: #B2008A;
  flex: 1;
  list-style-type: none;
}

main {
  flex: 8;
  display: flex;
  gap: .5rem;
}

article {
  flex: 1;
  background-color: #FD96A9;
}

footer {
  flex: 1;
  background-color: #C1C99A;
}